html,
body {
    font-size: 18px;
    background-color: whitesmoke;
}

section {
    background-color: #fff8e7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 250%;
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    font-size: 150%;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 20px 0 0 0;
}


#choropleth_map,
#continent,
#growth_rate,
#barchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    width: 80%;
}


p {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    padding: 0 50px 20px 50px;
}

.font {
    font-family: 'Fira Sans', sans-serif;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 50px 20px 50px;
}

#figure {
    color: red;
    font-size: 150%;
}

.blue {
    color: blue;
    font-size: 125%;
}

.text {
    text-align: left;
}

.small {
    font-size: 80%;
    font-style: italic;
}

#bold {
    font-weight: bold;
    font-size: 110%;
}

#Asia {
    color: #377eb8;
    font-weight: bold;
}

#Oceania {
    color: #a65628;
    font-weight: bold;
}

#Europe {
    color: #ff7f00;
    font-weight: bold;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}